<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление дохода</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Добавление дохода</h1>

    <form th:action="@{/transactions/income}" th:object="${income}" th:method="POST">
        <!-- Скрытое поле для типа транзакции -->
        <input type="hidden" th:field="*{type}" />

        <label for="amount">Сумма:</label>
        <input type="number" id="amount" th:field="*{amount}" step="0.01" required>
        <div style="color:red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Error</div>

        <label for="description">Комментарий:</label>
        <input type="text" id="description" th:field="*{description}">
        <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>

        <label for="transactionDate">Дата:</label>
        <input type="date" id="transactionDate" th:field="*{transactionDate}" required>
        <div style="color:red" th:if="${#fields.hasErrors('transactionDate')}" th:errors="*{transactionDate}">Transaction Date Error</div>

        <input type="submit" value="Добавить"/>
    </form>

<a href="/transactions">Назад</a>
</body>
</html>